.wrap{
  font-family: var(--Montserrat);
  max-width: 100vw;
  min-height: 100vh;
  width:100%;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--color-black);
  position: relative;
}


.container{
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 5.5rem;
}

.header{
  background-color: var(--color-black);
  color: white;
  .container{
    padding: 2rem 5.5rem;
  }
  &__button{
    display:flex ;
    gap: 2rem;
  }

  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  &__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  &__logo{
    display: block;
    width: 11.8rem;
    height: 6.2rem;
    margin: 0 -1rem;
    transition: 0.2s all ease;
    &-mob{
      display: none;
      width: 7.58rem;
      height: 4rem;
    }
    &:hover{
      transition: 0.2s all ease;
      filter: invert(59%) sepia(28%) saturate(659%) hue-rotate(329deg) brightness(100%) contrast(89%);
      //filter: invert(66%) sepia(26%) saturate(738%) hue-rotate(328deg) brightness(90%) contrast(88%);

    }
  }
  &__item{
    &>*{
      font: 600 1.3rem/1.6rem var(--Montserrat);
      color:var(--color-light);
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        color: var(--color-primary);
      }
    }

  }
  &__icon{
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover{
      transition: 0.2s all ease;
      filter: invert(59%) sepia(28%) saturate(659%) hue-rotate(329deg) brightness(100%) contrast(89%);
    }

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
    }
  }
  &__search:after{
    background: url("../img/search.svg") center/2rem 2rem no-repeat;
  }
  &__bag:after{
    background: url("../img/bag.svg") center/2rem 2rem no-repeat;
  }
  &__user:after{
    background: url("../img/user.svg") center/2rem 2rem no-repeat;
  }

  &__burger {
    width: 2rem;
    height: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap:0.3rem;
    & > * {
      display: block;
      width: 2rem;
      height: 0.2rem;
      background: var(--color-white);
      border-radius: 0.2rem;
      transition: .2s ease;
    }
    &-open{
      span{
        display: block;
        position: absolute;
        top:50%;
        margin: 0;
        transition: .2s ease;
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

.main{
  .container{
    padding: 12rem 5.5rem;
    overflow: hidden;
  }
  &__slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__desc{
    background-color: var(--color-black);
    padding: 3rem 9rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: var(--color-light);
  }
  &__date{
    font: 400 1.4rem/1.7rem var(--Montserrat);
  }
  &__text{
    font: 400 4rem/7.2rem var(--Moul);
    text-transform: uppercase;
    max-width: 50rem;
  }
  &__link{
    font: 700 1.6rem/2rem var(--Montserrat);
    color: var(--color-primary);
    text-transform: uppercase;
  }
  &__img{
    width: 61.5rem;
    height: 61.5rem;
  }
  &__block{
    position: relative ;
  }
  &__next, &__prev{
    bottom: 0;
    top:auto;
    left: 0;
    right: auto;
    width: 3.2rem;
    height: 3.2rem;
    &:after{
      content:'';
      width: 3.2rem;
      height: 3.2rem;
      top: 0;
      left: 0;
    }
  }
  &__next{
    left: 5.7rem;
    &:after{
      background: url("../img/arr.svg") center/3.2rem 3.2rem no-repeat;
    }
  }
  &__prev{
    &:after{
      transform: rotate(-180deg);
      background: url("../img/arr.svg") center/3.2rem 3.2rem no-repeat;
    }
  }

}
.hidden{
  overflow: hidden;
}

@media only screen and (max-width: 666px) {
  .wrap .container{
    padding: 1.6rem;
  }
  .header>.container{
    padding: 1rem 1.6rem;
  }
  .header__burger{
    display: flex;
  }
  .header__menu{
    display: none;
    position: absolute;
    &-show{
      top: 6rem;
      left: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.949999988079071;
      background-color: var(--color-black);
      height: 100vh;
      gap:7.6rem;
      overflow: auto;
    }
    .header__logo{
      display: none;
    }
  }
  .header__item > *{
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .header__button{
    display: none;
  }
  .header__logo-mob{
    display: block;
  }
  .header__mob{
    display: flex;
    align-items: center;
    gap:2.6rem;
  }
}
