.wrap{
  font-family: var(--Montserrat);
  max-width: 100vw;
  min-height: 100vh;
  width:100%;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--color-black);
  position: relative;
  background-color: var(--color-back-dark);;
}


.container{
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 5.5rem;
}

.header{
  background-color: var(--color-black);
  color: white;
  .container{
    padding: 2rem 5.5rem;
  }
  &__button{
    display:flex ;
    gap: 2rem;
  }

  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  &__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  &__logo{
    display: block;
    width: 11.8rem;
    height: 6.2rem;
    margin: 0 -1rem;
    transition: 0.2s all ease;
    &-mob{
      display: none;
      width: 7.58rem;
      height: 4rem;
    }
    &:hover{
      transition: 0.2s all ease;
      filter: invert(59%) sepia(28%) saturate(659%) hue-rotate(329deg) brightness(100%) contrast(89%);
      //filter: invert(66%) sepia(26%) saturate(738%) hue-rotate(328deg) brightness(90%) contrast(88%);

    }
  }
  &__item{
    &>*{
      font: 600 1.3rem/1.6rem var(--Montserrat);
      color:var(--color-light);
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        color: var(--color-primary);
      }
    }

  }
  &__icon{
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover{
      transition: 0.2s all ease;
      filter: invert(59%) sepia(28%) saturate(659%) hue-rotate(329deg) brightness(100%) contrast(89%);
    }

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
    }
  }
  &__search:after{
    background: url("../img/search.svg") center/2rem 2rem no-repeat;
  }
  &__bag:after{
    background: url("../img/bag.svg") center/2rem 2rem no-repeat;
  }
  &__user:after{
    background: url("../img/user.svg") center/2rem 2rem no-repeat;
  }

  &__burger {
    width: 2rem;
    height: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    gap:0.3rem;
    & > * {
      display: block;
      width: 2rem;
      height: 0.2rem;
      background: var(--color-white);
      border-radius: 0.2rem;
      transition: .2s ease;
    }
    &-open{
      span{
        display: block;
        position: absolute;
        top:50%;
        margin: 0;
        transition: .2s ease;
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

.main{
  position: relative;
  .container{
    padding: 12rem 5.5rem;
    overflow: hidden;
  }
  &__slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__slider{

  }
  &__desc{
    background-color: var(--color-black);
    padding: 3rem 9rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: var(--color-light);
    margin-right: -5rem;
    z-index: 1;
    position: relative;
  }
  &__date{
    font: 400 1.4rem/1.7rem var(--Montserrat);
  }
  &__text{
    font: 400 4rem/7.2rem var(--Moul);
    text-transform: uppercase;
    max-width: 50rem;
  }
  &__link{
    font: 700 1.6rem/2rem var(--Montserrat);
    color: var(--color-primary);
    text-transform: uppercase;
  }
  &__img{
    width: 61.5rem;
    height: 61.5rem;
  }
  &__block{
    position: relative ;
    padding-bottom: 5rem;
  }
  &__next, &__prev{
    bottom: 0;
    top:auto;
    left: calc(50% - 3rem);
    transform: translateX(-50%);
    right: auto;
    width: 3.2rem;
    height: 3.2rem;
    &:after{
      content:'';
      width: 3.2rem;
      height: 3.2rem;
      top: 0;
      left: 0;
    }
  }
  &__next{
    left: calc(50% + 3rem);
    &:after{
      background: url("../img/arr.svg") center/3.2rem 3.2rem no-repeat;
    }
    transition: 0.2s all ease;
    &:hover{
      &:after{
        transition: 0.2s all ease;
        background: url("../img/arr-hover.svg") center/3.2rem 3.2rem no-repeat;
      }
    }
  }
  &__prev{
    &:after{
      transform: rotate(-180deg);
      background: url("../img/arr.svg") center/3.2rem 3.2rem no-repeat;
    }
    transition: 0.2s all ease;
    &:hover{
      &:after{
        transition: 0.2s all ease;
        background: url("../img/arr-hover.svg") center/3.2rem 3.2rem no-repeat;
      }
    }
  }
  &__run{
    &-text{
      white-space: nowrap;
    }
  }
  &__back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
  }
}

.section{
  &__title{
    text-align: center;
    font: 700 3.6rem/6.5rem var(--Moul);
    text-transform: uppercase;
  }
  &__button {
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 2rem 5rem ;
    position: relative;
    margin: 0 auto;
    font: 700 1.2rem/1.5rem var(--Montserrat);
    text-transform: uppercase;
    color: var(--color-black);
    &:after{
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border:0.1rem solid var(--color-black);
      pointer-events: none;
    }
  }
}



.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  &__close{
    position: absolute;
    top: -3rem;
    right: -3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 5;
  }
  &__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--color-black);
      opacity: 0.3;
      top: 0;
      left: 0;
    }
  }
  &__content {
    max-width: 117rem;
    width: 100%;
    background: var(--color-white);
    position: absolute;
    padding: 5rem;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    z-index: 6;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
    }
  }
  &__title{
    font: 400 2.4rem/160% var(--Moul);
    margin-bottom: 2rem;
    text-align: center;
  }
  &__subtitle{
     font: 500 1.6rem/160% var(--Montserrat);
     margin-bottom: 2rem;
    text-align: center;
  }


}

.banner{
  background-color: var(--color-back-light);
  padding-top: 7rem;
  &__logo{
    display: block;
    margin: 0 auto 3rem ;
    width: 7.6rem;
    height: 4rem;
  }
  &__img{
    height: 100rem;
  }
  &__title{
    text-align: center;
    margin: 0 auto;
    display: block;
    font: 400 3.6rem/6.5rem var(--Moul);
  }
  .container{
    padding: 3rem 5.5rem 7rem;
  }
  &__subtitle{
    text-align: center;
    margin: 0 auto 2rem;
    max-width:97rem;
    font: 400 2.4rem/160% var(--Moul);
    text-transform: uppercase;
  }
  &__text{
    p{
      font: 500 1.6rem/160% var(--Montserrat);
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  &__read{

  }
}



.posts{
  position: relative;
  .container{
    padding: 7rem 5.5rem;
    position: relative;
    z-index: 2;
  }
  &__tab {
    &-content{
      margin: 2rem 0 3rem;
    }
    &-wrap{
      display: flex;
      gap:1rem;
      justify-content: right;
    }
    .tab{
      font: 700 1.2rem/1.5rem var(--Montserrat);
      padding: 2rem;
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      background-color: #F4E8E0;
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        background-color: var(--color-primary);
      }
    }
    .active{
      background-color: var(--color-primary);
    }
    &-item{
      display: none;
      &:first-child {
        display: block;
      }

    }
  }
  &__list{
    display: flex;
    gap:3rem;
    flex-wrap: wrap;
  }
  &__item{
    width: calc((100% - 6rem)/3);
    position: relative;
    background-color: var(--color-white);
    &:after{
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0.2rem solid var(--color-black);
      pointer-events: none;
    }
  }
  &__img{
    height: 40.5rem;
  }
  &__text{
    justify-content: space-between;
    gap:1rem;
    display: flex;
    flex-direction: column;

  }
  &__desc{
    padding: 2rem;
    justify-content: space-between;
    gap:1.4rem;
    display: flex;
    flex-direction: column;
  }
  &__title{
    font: 400 1.8rem/160% var(--Moul);
    //display: -webkit-box;
    //-webkit-line-clamp: 2;
    //-webkit-box-orient: vertical;
    //overflow: hidden;
  }
  &__subtitle{
    font: 500 1.6rem/160% var(--Montserrat);
    //display: -webkit-box;
    //-webkit-line-clamp: 4;
    //-webkit-box-orient: vertical;
    //overflow: hidden;
  }
  &__link{
    position:relative;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: auto;
    display: block;
    justify-content: right;
    &:after{
      content:'';
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      top: 0;
      left: 0;
      background: url("../img/arr.svg") center/3.2rem 3.2rem no-repeat;
    }
  }
  &__flash{
    position: absolute;
    padding: 1rem;
    font: 700 1.2rem/1.5rem var(--Montserrat);
    text-transform: uppercase;
    color:var(--color-white);
    background-color: var(--color-primary);
    right: 0;
    top: 0;
  }
}


.music{
  background-color: var(--color-back-light);
  position: relative;
  .container{
    padding: 7rem 5.5rem;
  }
  &__back{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: auto;
    z-index: 0;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    position: relative;
    z-index: 1;
    margin: 4rem 0 3rem;
  }
  &__item{
    width: calc((100% - 9rem)/4);
    border: 0.2rem solid var(--color-black);
    background-color: var(--color-white);
    position: relative;
    &:nth-child(4):after{
      content: "";
      position: absolute;
      top: -3rem;
      right: -3rem;
      width: 7rem;
      height: 7rem;
      background: url("../img/discover-star.svg") center/7rem 7rem no-repeat;
      z-index: 1;
    }
  }
  &__img{
    height: 25rem;
    padding: 1rem;
    border-bottom: 0.2rem solid var(--color-black);
  }
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.4rem;
    padding: 2rem;

  }
  &__name{
    font: 400 1.8rem/160% var(--Moul);
  }
  &__link{
    color: var(--color-primary);
    text-transform: uppercase;
    font: 700 1.2rem/1.5rem var(--Montserrat);
  }

}


.gifs{
  position: relative;
  .container{
    padding: 7rem 5.5rem;
    z-index: 1;
    position: relative;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;

  }
  &__item{
    width: calc(50% - 1.5rem);
    height: 32.1rem;
    &:nth-child(even){
      margin-top: 3rem;
    }
    &:nth-child(odd){
      margin-right: 3rem;
    }
  }
}


.social{
  background-color: var(--color-back-light);
  .container{
    padding: 7rem 5.5rem;
  }
  &__list{
    display: flex;
    gap:3rem;
    flex-wrap: wrap;
    margin-top: 4rem;
  }
  &__item{
    width: calc((100% - 9rem)/4);
    height: 27rem;
    display: block;
    position: relative;
    transition: 0.2s all ease;
    &:hover{
      transition: 0.2s all ease;
      &:after{
        transition: 0.2s all ease;
        opacity: 0.8999999761581421;
        background: #212121;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index:1 ;
      }
      &:before{
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 3.2rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: url("../img/arr-social.svg") center/3.2rem 3.2rem no-repeat;
        z-index: 2;
        transition: 0.2s all ease;
      }
    }
  }
}

.join{
  position: relative;
  .container{
    padding: 7rem 5.5rem;
    position: relative;
    //&:after{
    //  content: '';
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  left: 0;
    //  top: 0;
    //  background: url("../img/octagon.svg") center/100% 100% no-repeat;
    //  z-index: 0;
    //}
  }
  &__octagon{

    width: 117rem;
    height: 54.4rem;
    left: 50% ;
    top: 50%  ;
    transform: translate(-50%,-50%);
    position:absolute;
    z-index: -1;
  }
  &__block{
    position: relative;
    z-index: 1;
  }
  &__img{
    width: 17.5rem;
    height: 20rem;
    margin:0 auto 2rem;
  }
  &__title{
    text-align: center;
    font: 400 2.4rem/160% var(--Moul);
    margin-bottom: 1rem;
  }
  &__text{
    text-align: center;
    font: 500 1.6rem/160% var(--Montserrat);
    margin-bottom: 4rem;
  }

}

.subs{
  background-color: var(--color-primary);
  .container{
    padding: 10rem 5.5rem;
  }
  &__block{
    max-width: 37rem;
    margin: 0 auto;
    color: var(--color-white);
  }
  &__title{
    font: 400 4rem/7.2rem var(--Moul);
    margin-bottom: 1.6rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle{
    font: 400 1.6rem/2rem var(--Montserrat);
    margin-bottom: 3rem;
    text-align: center;
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
  }
  &__input{
    width: 100%;
    position: relative;
    & > input{
      padding: 2rem;
      border: none;
      width: 100%;
      background-color: #F8F6F0;
      color:var(--color-black);
      font: 700 1.6rem/2rem var(--Montserrat);
      &.error{
        background: #FFEFED;
      }
      &::placeholder{
        font: 600 1.6rem/2rem var(--Montserrat);
        color:#E5D9C3;
      }
    }
  }
  &__button{
    width: 100%;
    background: var(--color-black);
    font: 700 1.2rem/1.5rem var(--Montserrat);
    padding: 2rem;
    text-transform: uppercase;
  }
}

.footer{
  position: relative;

  .container{
    padding: 4rem 5.5rem;
    z-index:2;
    position: relative;
  }
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5rem;
  }
  &__logo{
    width: 7.6rem;
    height: 4rem;
    transition: 0.2s all ease;
    display: block;
    &:hover{
      filter: invert(32%) sepia(9%) saturate(2230%) hue-rotate(280deg) brightness(98%) contrast(86%);
    }
  }
  &__menu{
    display: flex;
    gap:4rem;
  }
  &__item{
    & > *{
      display: block;
      font: 500 1.6rem/2rem var(--Montserrat);
      transition: 0.2s all ease;
      &:hover{
        color:var(--color-primary-second);
        transition: 0.2s all ease;
      }
    }
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 3rem;
}

.marquee {
  white-space: nowrap;
  position: absolute;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from { left: 100%; }
  to { left: -100%; }
}

label.error{
  position: absolute;
  bottom: -2.2rem;
  left: 0;
  font: 400 1.2rem/1.6rem var(--Montserrat);


}

.hidden{
  overflow: hidden;
}
@media only screen and (max-width: 1920px) {
  .banner__img {
    height: 51vw;
  }
}
@media only screen and (max-width: 1280px) {
  .social__item  {
    height: 21.1vw;
  }
  .header__menu{
    gap:3rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header__menu{
    gap:2rem;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu{
    gap:4rem;
  }
}
@media only screen and (max-width: 666px) {
  .wrap .container{
    padding: 3.2rem 1.6rem;
  }
  .header>.container{
    padding: 1rem 1.6rem;
  }
  .header__burger{
    display: flex;
  }
  .header__menu{
    display: none;
    position: absolute;
    &-show{
      top: 6rem;
      left: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.949999988079071;
      background-color: var(--color-black);
      height: 100vh;
      gap:7.6rem;
      overflow: auto;
    }
    .header__logo{
      display: none;
    }
  }
  .header__item > *{
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .header__button{
    display: none;
  }
  .header__logo-mob{
    display: block;
  }
  .header__mob{
    display: flex;
    align-items: center;
    gap:2.6rem;
  }
  .banner__img{

  }
  .music__list{
    gap:1rem;
  }
  .music__item{
  width: calc(50% - 0.5rem);
  }
  .music__img{
    padding: 0.6rem;
    height: 46.5vw;
  }
  .music__text{
    padding: 1rem;
    gap:1rem;
  }
  .music__name{
    font-size: 1.4rem;
  }
  .music__back{
    width: 400vw;
  }
  .music__list{
    margin: 2rem 0;
  }
  .music__item:nth-child(4):after{
    display: none;
  }
  .music__more{
    min-width: 34.3rem;
  }
  .section__title{
    font-size: 2rem;
    line-height: 3.6rem;
  }
  .gifs__list{
    gap:1rem;
    margin-top: 1.6rem;
  }
  .gifs__item{
    width: 100%;
    height: 51.3vw;
  }
  .gifs__item:nth-child(odd),.gifs__item:nth-child(even){
    margin: 0;
  }
  .social__list{
    gap:1rem;
  }
  .social__item{
    width: calc((100% - 3rem)/3);
    &:last-child,&:nth-last-child(2) {
      display: none;
    }
    height: 27.9vw;
  }
  .subs__title{
    font-size: 2.4rem;
    line-height: 4.3rem;
    margin-bottom: 0.8rem;
  }
  .subs__subtitle{
    margin-bottom: 2rem;
  }
  .subs .container{
    padding: 6rem 1.6rem;
  }
  .subs__form{
    gap:2rem;
  }
  .subs__button{
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 2.2rem;
  }
  .footer .container{
    padding: 6rem 1.6rem 6.8rem;
  }
  .footer__block{
    flex-direction: column;
    gap:4rem;
  }
  .footer__menu{
    text-align: center;
    flex-direction: column;
    gap:3rem;
  }
  .footer__item > *{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  label.error{
    font-size: 1.4rem;
    line-height: 1.6rem;
    bottom: -1.8rem;
  }

}
@media only screen and (max-width: 374px) {
  .music__more{
    min-width: 100%;
  }
}