<!-- FOOTER -->
<section>
    <div class="modal modal__subs" >
        <div class="modal__wrap">
            <div class="modal__content">
                <div class="modal__close img">
                    <img src="../img/close.svg" alt="">
                </div>
                <h2 class="modal__title">Thank you for subscribing</h2>
                <h3 class="modal__subtitle">We promise to send you only the most useful news. Now you will always be aware of all promotional offers!</h3>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="main__back img">
        <img src="img/back-img.png" alt="">
    </div>
    <div class="container">
        <div class="footer__block">
            <a href="" class="footer__logo img">
                <img src="../img/logo-footer.svg" alt="">
            </a>
            <ul class="footer__menu">
                <li class="footer__item">
                    <a href="">About Camden Live</a>
                </li>
                <li class="footer__item">
                    <a href="">Terms</a>
                </li>
                <li class="footer__item">
                    <a href="">Buy CMDN Show Tickets</a>
                </li>
                <li class="footer__item">
                    <a href="">Buy CMDN TShirts</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!-- /FOOTER -->
