<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header__block">
            <a href="" class="header__logo header__logo-mob img">
                <img src="../img/logo.svg" alt="">
            </a>
            <div class="header__mob">
                <div class="header__icon header__search"></div>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <ul class="header__menu">
                <li class="header__item">
                    <a href="">Get Tickets</a>
                </li>
                <li class="header__item">
                    <a href="">CMDN Merch</a>
                </li>
                <li class="header__item">
                    <a href="">Bands</a>
                </li>
                <li class="header__item ">
                    <a href="" class="header__logo img">
                        <img src="../img/logo.svg" alt="">
                    </a>
                </li>
                <li class="header__item">
                    <a href="">New Releases</a>
                </li>
                <li class="header__item">
                    <a href="">Bands Wanted</a>
                </li>
                <li class="header__item">
                    <a href="">About CMDN</a>
                </li>
            </ul>
            <div class="header__button">
                <div class="header__icon header__user"></div>
                <div class="header__icon header__bag"></div>
            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

